.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.user-table th {
  background-color: #dbeafe;
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;
}